middleware/mysql/data/*
middleware/nginx/log/*
middleware/rocketmq/data/*
middleware/redis/data/*
middleware/nacos/data/*
middleware/nacos/logs/*
middleware/xxljob/logs/*
middleware/tdengine/data/*
middleware/tdengine/logs/*
microsystem/logs/*
bizservices/apps/biz1.jar
bizservices/logs/*
.idea
.idea/*
middleware/emqx/*
*/*.log
microsystem/apps/*
microsystem/files/*

.opencode
middleware/nginx/html/

*.log
